body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#rightside {
    float:left;
    top:10%;
    bottom:20%;
    right: 0;
    position:absolute;
}
#con {
    max-height:100%;
    overflow-y:scroll;
    width:100%;
    margin-right:2%;
    float:left;
}
