body {
    font-family: 'Monda', sans-serif;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #8CF4FF;
    text-align: center;
}

.navbar {
    margin: 0px;
    border-radius: 0px;
}

.navbar-brand {
    font-size: 200%;
}
