<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>reYAKtions</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/theme.css" rel="stylesheet">
    <link rel="stylesheet" href="static/bower_components/jqcloud2/dist/jqcloud.min.css">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">reYAKtions</a>
        </div>
        <div>
          <form class="navbar-form navbar-left" role="search" id="searchschool">
            <div class="form-group">
              <input type="text" name="sought" id="sought" class="form-control" placeholder="Campus or Location">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div id="mapContainer">
            <iframe class="embed-responsive-item" width="800" height="500" frameborder="10" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=42.2935,-71.2639&key=AIzaSyD2yggpNHNmdL3P1Y58bjy3-DzjBUh5-ME&zoom=10" allowfullscreen>
            </iframe>
          </div>
        </div>
        <div id="rightside" class="col-md-3">
          <div id="con">
            <h3> Recent Yaks: </h3>
            <ul class="list-group">
            <div id="yakContainer"> Hello World! </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script id="yakTemplate" type="text/x-jQuery-tmpl">
        <li class="list-group-item">${votes} upvotes: ${yak}</li>
    </script>

    <script id="mapTemplate" type="text/x-jQuery-tmpl">
      <iframe class="embed-responsive-item" width="800" height="500" frameborder="10" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=${lat},${long}&key=AIzaSyD2yggpNHNmdL3P1Y58bjy3-DzjBUh5-ME&zoom=10" allowfullscreen>
      </iframe>
      <h1>Keywords</h1>
      <div style="width:500px;height:500px;margin-top:0%;" id="keywords"></div>
    </script>

    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/bower_components/jqcloud2/dist/jqcloud.min.js"></script>
	  <script type="text/javascript" src="static/yak.js"></script>
  </body>
</html>
